@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header__inner,
.menu__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header {
    &__inner {
        height: 56px;
        padding: 0 80px;
        background-color: #635854;
        border-bottom: 4px solid #3596F5;
    }
}

.menu {
    height: 100%;

    &__list {
        height: 100%;
        max-width: 671px;
        background-color: transparent;
    }

    &__list-item {
        text-align: center;
        height: 100%;
        padding: 9px 16px;
        margin: 0 28px;
        cursor: pointer;

        &--active {
            background-color: #3596F5;
        }
    }

    &__link {
        font-family: 'Roboto';
        font-size: 16px;
        line-height: 19px;
        color: #FFF;
    }
}
.contacts{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    &__text{
        color: #FFF;
        font-family: 'Roboto';
        font-size: 14px;
        line-height: 16px;
        font-weight: 400;
    }
    &__tel{
        color: #FFF;
        font-family: 'Roboto';
        font-size: 17px;
        line-height: 20px;
        font-weight: 700;
    }
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 54px;
    padding-bottom: 99px;
    &__inner{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}

.footer{
    &__inner{
        height: 171px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 80px;
        background-color: #D7D7D7;
        border-top: 4px solid #3596F5;
    }
    &__left-side{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        max-width: 427px;
    }
    &__contacts{
        display: flex;
        flex-direction: column;
        margin-left: 37px;
        margin-right: 59px;
    }
    &__contacts-text{
        color: #635854;
        font-size: 14px;
        font-family: 'Roboto';
        font-weight: 400;
        line-height: 16px;
    }
    &__contacts-tel{
        color: #635854;
        font-size: 17px;
        font-family: 'Roboto';
        font-weight: 700;
        line-height: 20px;
    }
    &__social{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 125px;
    }
    &__right-side{
        display: flex;
        flex-direction: row;
    }
    &__rs-link{
        margin-left: 20px;
        color: #635854;
        text-decoration-line: underline;
        font-family: 'Roboto';
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
    }
}

.select{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 30px;
    height: 505px;
    &__floor{
    height: 185px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 116px;
    }
    &__title{
        color: #635854;
        text-transform: uppercase;
        font-family: 'Roboto';
        font-size: 37px;
        font-weight: 400;
        line-height: 44px;
        margin-bottom: 109px;
    }
    &__btn-view{
       background-color: #3596f5;
       color: #FFF;
       font-family: 'Roboto';
       font-weight: 400;
       font-size: 16px;line-height: 19px;
       padding: 16px 36px;
       border-radius: 6px;
       cursor: pointer;
       border: none;
       &:hover{
        background-color: #0e72d6;
       }
    }
}

.btn-up,
.btn-down{
    width: 33px;
    height: 20px;
    background-image: url(../images/btn-up.svg);
    cursor: pointer;
}
.btn-down{
    background-image: url(../images/btn-down.svg);
}
.number-floor{
    color: #635854;
    font-size: 115px;
    font-family: 'Roboto';
}
.overlay-hidden{
    display: none;
}
.overlay{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0, .7);
    z-index: 2;
}
.modal{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1000px;
    height: 565px;
    background-color: #EBEBEB;;
    z-index: 3;
    &__close{
        position: absolute;
        right: 27px;
        top: 38px;
        width: 27px;
        height: 27px;
        border: none;
        background-color: transparent;
        background-image: url(../images/modal-close.svg);
        z-index: 10;
        cursor: pointer;
    }
}
.floor-layout{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 458px;
    text-align: center;
    margin-left: 80px;
    &__title{
        font-family: 'Roboto';
        font-size: 24px;
        font-weight: 400;
        line-height: 29px;
        color: #000000;
        text-transform: uppercase;
    }
}
.choice-apart{
    height: 100%;
    width: 403px;
    background-color: #fff;
    padding-left: 46px;
    &__list{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 280px;
        margin-bottom: 57px;
    }
    &__title{
        margin-top: 50px;
        font-family: 'Roboto';
        font-size: 24px;
        font-weight: 400;
        line-height: 29px;
        color: #000000;
        text-transform: uppercase;
        margin-bottom: 55px;
    }
    &__link{
        color: #3596F5;
        font-family: 'Roboto';
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
    }
    &__link--sold{
        color:#635854;
        cursor: default;
    }
}